 <div class="container-fluid">
  <div class="row pt-2 pb-1" style="background-color: #838d93; color: white;">
  <h2 class="font-weight-bold ml-5 pl-3">タスクの編集</h2>
  </div>
</div>

<div class="row text-secondary mt-4">
  <div class="col-sm-6 offset-sm-3">
    <%= form_with(model: @task, local: true) do |f| %>
    　 <%= render 'layouts/error_messages', model: f.object %>
      <%= f.label :content, 'タスク' ,class: "text-secondary"%>
      <%= f.text_field :content, class: 'form-control'%>
      <%= hidden_field_tag :purpose_id, @task.purpose.id %>
      <%= f.submit '編集完了', class: 'btn btn-secondary btn-block mt-4'  %>
    <% end %>
 </div>
</div>