
<% if review_purposes.any? %>
   <% review_purposes.each do |purpose| %>
          <div class="row" style="border-bottom: solid 10px #838d93; color:white;">
              <div class="col-sm-2 mt-2" style="text-align : center;">
                    <figure class="figure">
                                 <img class="mt-2 rounded figure-img " src="<%= gravatar_url(purpose.user, { size: 80 }) %>" alt="">
                                 <figcaption class="figure-caption"><%=link_to purpose.user.name, user_path(purpose.user) ,class: "text-light"%>
                                 </figcaption>
                             </figure>
              </div>
              <div class="col-sm-10 mt-2">
                  <div class="row">
                      <div class="ml-2 col-sm-9">
                          <h4>目標:  <%=purpose.content%></h4>
                      </div>
                       <div class="col-sm-1">
                            <%=link_to "Review" , review_purpose_path(purpose), class: 'btn btn-info btn-sm'%>
                        </div>
                  </div>
                  <div class="row ml-2 mt-2">
                     <div class="col-sm-11 bg-light text-dark" style="overflow: scroll; min-height: 15px;">
                        <% if purpose.reviews.where(user_id: user.id).any? %>
                        <%= purpose.reviews.where(user_id: user.id).last.content %>
                        <%end%>
                     </div>
                 </div>
                 <div class="row ml-1">
                      <% if purpose.reviews.where(user_id: user.id).any? %>
                        <small class="col-sm-6">投稿日時:<%= purpose.reviews.where(user_id: user.id).last.created_at.strftime("%Y/%m/%d %H:%M") %></small>
                    <%end%>
                 </div>
              </div>
          </div>
    <%end%>
<% end %>