<% if purposes.any? %>
    <% purposes.each do |purpose| %>
<!--目標名-->
  <div class="container mt-4 text-secondary" style="max-height : 400px; overflow: auto; border: #838d93 10px solid;">
      <div class="row" style="background-color: #838d93; color: white;">
          <div class="col-sm-2 mt-2" style="text-align: center;">No.</div>
          <div class="col-sm-7 mt-2">目標</div>
          <small class="mt-2 text-warning">達成期間:<%=purpose.start_day%>~<%=purpose.end_day%></small>
      </div>
      <div class="row" style="background-color: #838d93; color: white;">
          <div class="col-sm-2" style="text-align: center;"><h3 class="ml-2"><%= purpose.id %></h3></div>
          <div class="col-sm-8"><h3 class="ml-2"><%= purpose.content %></h3></div>
          <div class="">
             <%=link_to "Review" , review_purpose_path(purpose), class: 'btn btn-info btn-sm'%>
          </div>
      </div>
      
  <!--目標関連のタスクリスト-->
   <div class="container mt-2" style="max-height : 200px; overflow: auto; border: #99ccff 3px;">
   <%= render 'tasks/comptasklist', tasks: purpose.tasks %>
  </div>
  </div>
    <%end%>
<%end%>



  
 
